/* CSS Variables  */

:root{
    --primary: #ddd;
    --dark: rgb(19, 19, 19);
    --light: #fff;
    --shadow: 0 1px 5x rgba(17, 17, 17, 0.8);
    --blue: rgb(13, 144, 231);
    --lightblue: rgb(6, 174, 252);
    --darkblue: rgb(5, 80, 151);
}

html {
    font-family: Helvetica, sans-serif;
}


.header{
    background: var(--dark);
    color: var(--light);
}

#name{
    color: var(--blue);
}

li{
    list-style:none;
}

.title {
    color: var(--dark);
}

.secondTitle{
    color: var(--darkblue);
}

.description{
    color: var(--lightblue);
}

.profession{
    color: var(--blue);
}

.contacts{
    text-align: center;
}
